{% extends "base.twig" %}
{% block title %}Discussion Board{% endblock %}

{% block main %}
<div class="article">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>Forum-like message board</strong> No current functionality available.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
</div>

<div class="card">
  <h5 class="card-header">Main</h5>

  <div class="card-body">
    <h5>Oracle of Secrets
      <div class="float-right">
        <a href="#" class="btn btn-primary">Open Board</a>
      </div>
    </h5>
    <small>The Legend of Zelda Link to the Past rom hack</small>
    <hr>
    <h5>ZEN3MP Development
      <div class="float-right">
        <a href="#" class="btn btn-primary">Open Board</a>
      </div>
    </h5>
    <small>Feedback, Suggestions and Bug Reports</small>
    <hr>
    <h5>Information Overlords
      <div class="float-right">
        <a href="#" class="btn btn-primary">Open Board</a>
      </div>
    </h5>
    <small>Channel discussion and sources</small>
  </div>


</div>
{% endblock %}

{% block side %}
<div class="titleBar">Statistics</div>

{% endblock %}
