{% extends "base.twig" %}
{% block title %}Friend Requests{% endblock %}

{% block main %}

    <div class="article">
        {{ confirm | raw }}
        {{ requests | raw }}
    </div>

{% endblock %}
