{% extends "guestbase.twig" %}
{% block title %}Verify User{% endblock %}

{% block main %}
<div class="article">
    <h4>Hey</h4>
    <form class="" action="" method="POST">

        <input type="hidden" name="hidden" value="Verified!"> 

        <input type="submit" class="btn btn-primary" name="verify">

    </form>
</div>
{% endblock %}