{% extends "base.twig" %}
{% block title %} Item Management {% endblock %}

{% block main %}

<div class="nav nav-pills" id="stores_sublist" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="new_items" aria-selected="true">New Item</a>
        <a class="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="edit_items" aria-selected="false">Edit Items</a>
        <a class="nav-link" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="money_supply" aria-selected="false">Money Supply</a>
      </div>

        <div class="tab-content" id="stores_subcontent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="new_items">
            <div class="article">
            <h4>Add New Item:</h4>

            <form class="post_form" action="/above/" method="POST" autocomplete="off" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
              </div>
              <input type="text" name="item-name" class="form-control" aria-label="Name" aria-describedby="basic-addon1" required>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Item Type</span>
              </div>
              <select name="item-type" class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Equip Zone</span>
              </div>
              <select name="equip-zone" class="form-control" id="exampleFormControlSelect1">
                <option>bag</option>
                <option>hand</option>
                <option>torso</option>
                <option>legs</option>
                <option>head</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
              </div>
              <textarea name="item-desc" class="form-control" aria-label="With textarea" required></textarea>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Gold</span>
              </div>
              <input type="text" name="item-price" class="form-control" aria-label="Amount" required>
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>

            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Required Level</span>
              </div>
              <input type="text" name="req-level" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            </div>

            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" name="item-icon" class="custom-file-input" id="newIconImage">
                <label class="custom-file-label" for="newIconImage">Icon Image</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text" id="">Upload</span>
              </div>
            </div>

            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Strength</span></div>
              <input type="text" name="strength" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Intelligence</span></div>
              <input type="text" name="intelligence" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Willpower</span></div>
              <input type="text" name="willpower" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Agility</span></div>
              <input type="text" name="agility" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Speed</span></div>
              <input type="text" name="speed" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Endurance</span></div>
              <input type="text" name="endurance" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Personality</span></div>
              <input type="text" name="personality" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Wisdom</span></div>
              <input type="text" name="wisdom" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Luck</span></div>
              <input type="text" name="luck" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>

            <button type="submit" class="btn btn-post btn-lg btn-block" name="new_item" id="new_item" value="POST">Submit New Item</button>
          </form>


          </div>
          </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="edit_items"></div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="money_supply"></div>
        </div>

{% endblock %}