{% extends "base.twig" %}
{% block title %} Quests Management {% endblock %}

{% block main %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/above/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="?newpost">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="?quests">Quests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="?items">Stores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="?users">Users</a>
  </li>
</ul>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="nav nav-pills" id="stores_sublist" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" data-toggle="pill" href="#q-home" role="tab" aria-controls="quest_home" aria-selected="true">New Quest</a>
        <a class="nav-link" data-toggle="pill" href="#q-page" role="tab" aria-controls="new" aria-selected="false">New Page</a>
        <a class="nav-link" data-toggle="pill" href="#view-quests" role="tab" aria-controls="view_quests" aria-selected="false">View Quests</a>
    </div>

    <div class="tab-content" id="stores_subcontent">
        <div class="tab-pane fade show active" id="q-home" role="tabpanel" aria-labelledby="quest_home">
            <div class="article"> <h4>Create New Quest</h4>

            <form class="post_form" action="/above/" method="POST" autocomplete="off" enctype="multipart/form-data">
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Title</span>
                </div>
                <input type="text" name="title" class="form-control" aria-label="Name" aria-describedby="basic-addon1" required>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Contents</span>
                </div>
                <textarea name="contents" class="form-control" aria-label="With textarea" required></textarea>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Category</span>
                    </div>
                    <select name="category" class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-post btn-lg btn-block" name="new_quest" id="new-quest" value="POST">Submit Quest Category</button>
            </form>


            </div>
        </div>

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="tab-pane fade" id="q-page" role="tabpanel" aria-labelledby="new">
            <div class="article"><h4>New Quest Page</h4>

            <form class="post_form" action="/above/" method="POST" autocomplete="off" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Title</span>
                    </div>
                    <input type="text" name="title" class="form-control" aria-label="Name" aria-describedby="basic-addon1" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Quest ID</span>
                    </div>
                    <select name="item-type" class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text">Contents</span>
                    </div>
                    <textarea name="contents" class="form-control" aria-label="With textarea" required></textarea>
                </div>

                <div class="input-group mb-3">
                    <div class="custom-file">
                    <input type="file" name="item-icon" class="custom-file-input" id="newIconImage">
                    <label class="custom-file-label" for="newIconImage">Quest Media</label>
                    </div>
                    <div class="input-group-append">
                    <span class="input-group-text" id="">Upload</span>
                    </div>
                </div>

                <button type="submit" class="btn btn-post btn-lg btn-block" name="new_quest_page" id="new_quest_page" value="POST">Submit New Page</button>

            </form>

            </div>
        </div>


        <div class="tab-pane fade" id="view-quests" role="tabpanel" aria-labelledby="view_quests">
            <div class="article">
                <ul class="list-group">
                    {% for i in 1..quest.getNumQuestpages %}
                    <li class="list-group-item">
                        {{ quest.getQuestPageTitle(i) }}
                        <br />{{ quest.getQuestPageBody(i) }}
                        <span class="float-right"><img src="{{ quest.getQuestPageMedia(i) }}" class="avatar"></span>
                    </li>       
                    {% endfor %} 
                </ul>
            </div>
        </div>


    </div>

{% endblock %}