{% extends "base.twig" %}
{% block title %} Item Management {% endblock %}

{% block main %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/above/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="?newpost">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="?quests">Quests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="?items">Stores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="?users">Users</a>
  </li>

</ul>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

{% endblock %}