{% extends "wide_base.twig" %}
{% block title %}Frequently Asked Questions{% endblock %}

{% block main %}
<div class="article">
    <p>I will populate this page as people ask me questions I don't want to answer anymore. I see this page as more of a use as needed more than a prepare premade questions. However, it is a footer staple to have an FAQ page so I'll detail some stuff.</p>
</div>
{% endblock %}
