{% extends 'base.twig' %}
{% block title %} Privacy Policy {% endblock %}

{% block main %}

<div class="article">
  <p>ZEN3MP is a PHP/MySQL Project I'm putting together that will act as both an online game and small social network. Through this page I will detail the few ways that Zeniea may collect information from you, though first and foremost I assure you I care very little about your data. I just want to make a cool website. </p>

  <p>Please read this privacy policy carefully to get a clear understanding of how your data will be used. (Mostly by Google)</p>

  <h3> Information Collected </h3>

  <p>During the registration process you will be asked to input your email. Through an email server set up on Zeniea you'll be sent a verification link to create your character. You will not receive any emails from Zeniea outside of your verification email and any attempts you may make to resend that email before verifying. Your passwords are encrypted with bcrypt and stored in a MySQL Database.

  <h3> Cookies </h3>

  <p>Google's use of the DoubleClick cookie enables it and its partners to serve ads based on their visit to this sits and/or other sites on the Internet. You may opt out of the use of the DoubleClick cookie for interest-based advertising by visiting <a href="http://www.google.com/ads/preferences/">Ads Settings.</a> You may be also interested to visit <a href="http://www.aboutads.info/">this page</a> for instructions how to opt out of a third-party vendor's use of cookies for interest based advertising.</p>

  <p>Zeniea uses Cookies from the following services:</p>

  <ul>
    <li>
      <h4>Google Analytics</h4>
      <p>Zeniea uses <a href="http://www.google.com/analytics/">Google Analytics</a> to collect statistical information regarding how the website is used. This information is not personally identifiable.</p>
    </li>
    <li>
      <h4>Google AdSense</h4>
      <p>Zeniea uses Google AdSense to display ads on some of our pages. Google AdSense may use user data. You can review Google's privacy policy regarding advertising <a href="http://www.google.com/policies/privacy/ads/">here.</a> That page also provides information on how to manage what information is collected and how to opt out of collection.</p>
    </li>
    <li>
      <h4>The DoubleClick Cookie</h4>
      <p>The <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwig8dL506_hAhUQD60KHeysA_EQFjAAegQIAhAB&url=https%3A%2F%2Fsupport.google.com%2Fadmanager%2Fanswer%2F2839090%3Fhl%3Den&usg=AOvVaw14ffZ_6JlWtsECLS9dKky6">DoubleClick</a> is used by Google in the ads served on the websites of its partners, such as websites displaying AdSense ads or participating in Google certified ad networks. When users visit a partner's website and either view or click on an ad, a cookie may be dropped on that end user's browser.</p>
    </li>
    <li>
      <h4>Cloudflare DNS</h4>
      <p>Zeniea uses Cloudflare for their DNS services and handling cached files. Occasionally this site will go into development mode for large updates. Development Mode will cause all requests to go to our server, and increased requests to our origin server will temporarily raise  bandwidth and CPU usage, but will have no impact on the user. Cloudflare's Privacy Policy is detailed <a href="https://www.cloudflare.com/privacypolicy/">here</a> and their cookie policy <a href="https://www.cloudflare.com/cookie-policy/">here.</a></p>
  </ul>

  <p>Zeniea has implemented reCAPTCHA on our site and your their use of reCAPTCHA is subject to the <a href="https://www.google.com/intl/en/policies/privacy/">Google Privacy Policy</a> and <a href="https://www.google.com/intl/en/policies/terms/">Terms of Use.</a></p>

  <h3> How to disable cookies </h3>

  <p>Most modern browsers allow you to control your cookie settings for all websites that you browse. You can disable cookie deployment completely by editing your browser settings, however in doing this you may be limiting the functionality that is displayed on our website. To learn how to disable cookies on your preferred browser we recommend reading <a href="http://support.google.com/accounts/bin/answer.py?hl=en&answer=61416">this advice posted by Google.</a></p>

  <p>If you are concerned about cookies tracking your movements on the Internet then you may be concerned about spyware. Spyware is the name given to a particular band of cookies that track personal information about you. There are many antispyware programs that you can use to prevent this from happening. To learn more about antispyware software, visit <a href="http://en.wikipedia.org/wiki/Spyware">http://en.wikipedia.org/wiki/Spyware.</a> You call also disable Google Analytics on all websites by downloading the <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics Opt-out Browser Add-on.</a></p>

</div>

{% endblock %}

{% block side %}
<div class="article">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- TallBoi -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8036786549441922"
         data-ad-slot="1140152702"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
{% endblock %}
