{% extends 'base.twig' %}
{% block title %} Rules {% endblock %}

{% block main %}
<div class="article">
  <ul>

  <li>Rule 1: No porn, gore, or overtly explicit content allowed.</li>
  <li>Rule 2: Respect the development process and don't exploit. Report bugs to the admin.</li>
  <li>Rule 3: Don't use broken links and nonimages for your avatar/header image.</li>
    <ul>
      <li>Rule 3a: Don't post images from sites with hotlink protection.</li>
      <li>Rule 3b: Refrain from using link shorteners or even bothering with long URLs.</li>
    </ul>
  <li>Rule 4: Only one account allowed per user, duplicates will be deleted and repeated offenses will result in a ban.</li>
  <li>Rule 5: Self promotion in the posting or discussion areas is prohibited. Share any social media links on your profile.</li>

  </ul>
</div>
{% endblock %}

{% block side %}
<div class="titleBar">Ads served by Google</div>
    <div class="article">
    <br />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- TallBoi -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8036786549441922"
         data-ad-slot="1140152702"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
{% endblock %}
