{% extends "base.twig" %}
{% block title %} Above {% endblock %}

{% block main %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#home" aria-controls="home" data-toggle="tab" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#manage_quests" aria-controls="manage_quests" data-toggle="tab" aria-selected="true">Quests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#new_post" aria-controls="new_post" data-toggle="tab" aria-selected="true">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#manage_stores" aria-controls="manage_stores" data-toggle="tab" aria-selected="true">Stores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#manage_users" aria-controls="manage_users" data-toggle="tab" aria-selected="true">Users</a>
  </li>

</ul>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="tab-content" id="myTabContent">
        <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home">
          <div class="article">

              <strong>Welcome, {{ userLoggedIn }}</strong><br />

          </div>
    </div>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div role="tabpanel" class="tab-pane fade" id="new_post" aria-labelledby="new_post">
        <div class="article">
          <p>This area will be used as a way for admins and moderators to post new updates on the <a href="/?news">news section</a>. Date is automatically filled in.
          <br />
          <form class="post_form" action="/above/" method="POST" autocomplete="off">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="text" class="form-control" name="added_by" aria-label="Username" aria-describedby="basic-addon1" value="{{ userLoggedIn }}" readonly>
            </div>
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Site News</option>
                <option>Discussion Thread</option>
                <option>IO Article</option>
                <option>Legacy Content</option>
                <option>Global Announcement</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
              </div>
              <input type="text" class="form-control" name="post_title" id="post_title" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Content</span>
              </div>
              <textarea class="form-control" name="post_text" id="post_text" aria-label="With textarea"></textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-post btn-lg btn-block" name="news_post" id="post_button" value="POST">Submit News Post</button>
          </form>

        </div>
    </div>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div role="tabpanel" class="tab-pane fade" id="manage_users" aria-labelledby="manage_users">
      <div class="article">

      </div>
    </div>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div role="tabpanel" class="tab-pane fade" id="manage_quests" aria-labelledby="manage_quests">
        <hr>
        <div class="nav nav-pills" id="stores_sublist" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" data-toggle="pill" href="#q-home" role="tab" aria-controls="quest_home" aria-selected="true">New Quest</a>
          <a class="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="edit_items" aria-selected="false">New Page</a>
          <a class="nav-link" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="money_supply" aria-selected="false">Money Supply</a>
        </div>

        <div class="tab-content" id="stores_subcontent">
            <div class="tab-pane fade show active" id="q-home" role="tabpanel" aria-labelledby="quest_home">
              <div class="article"> <h4>Create New Quest</h4>

              <form class="post_form" action="/above/" method="POST" autocomplete="off" enctype="multipart/form-data">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Title</span>
                    </div>
                    <input type="text" name="title" class="form-control" aria-label="Name" aria-describedby="basic-addon1" required>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Contents</span>
                    </div>
                    <textarea name="contents" class="form-control" aria-label="With textarea" required></textarea>
                  </div>

                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input type="file" name="item-icon" class="custom-file-input" id="newIconImage">
                      <label class="custom-file-label" for="newIconImage">Quest Media</label>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text" id="">Upload</span>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-post btn-lg btn-block" name="new_quest" id="new_quest" value="POST">Submit New Item</button>
              </form>


              </div>
            </div>

            <!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->

          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="edit_items">
              <div class="article"><h4>New Quest Page</h4>

                <form class="post_form" action="/above/" method="POST" autocomplete="off" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Title</span>
                      </div>
                      <input type="text" name="title" class="form-control" aria-label="Name" aria-describedby="basic-addon1" required>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Quest ID</span>
                      </div>
                      <select name="item-type" class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Contents</span>
                      </div>
                      <textarea name="contents" class="form-control" aria-label="With textarea" required></textarea>
                    </div>

                    <div class="input-group mb-3">
                      <div class="custom-file">
                        <input type="file" name="item-icon" class="custom-file-input" id="newIconImage">
                        <label class="custom-file-label" for="newIconImage">Quest Media</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div>
                    </div>

                  <button type="submit" class="btn btn-post btn-lg btn-block" name="new_quest_page" id="new_quest_page" value="POST">Submit New Page</button>

                </form>

              </div>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="money_supply"></div>
        </div>


    </div>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div role="tabpanel" class="tab-pane fade" id="manage_stores" aria-labelledby="manage_stores">

      <div class="nav nav-pills" id="stores_sublist" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="new_items" aria-selected="true">New Item</a>
        <a class="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="edit_items" aria-selected="false">Edit Items</a>
        <a class="nav-link" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="money_supply" aria-selected="false">Money Supply</a>
      </div>

        <div class="tab-content" id="stores_subcontent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="new_items">
            <div class="article">
            <h4>Add New Item:</h4>

            <form class="post_form" action="/above/" method="POST" autocomplete="off" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
              </div>
              <input type="text" name="item-name" class="form-control" aria-label="Name" aria-describedby="basic-addon1" required>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Item Type</span>
              </div>
              <select name="item-type" class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Equip Zone</span>
              </div>
              <select name="equip-zone" class="form-control" id="exampleFormControlSelect1">
                <option>bag</option>
                <option>hand</option>
                <option>torso</option>
                <option>legs</option>
                <option>head</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
              </div>
              <textarea name="item-desc" class="form-control" aria-label="With textarea" required></textarea>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Gold</span>
              </div>
              <input type="text" name="item-price" class="form-control" aria-label="Amount" required>
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>

            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Required Level</span>
              </div>
              <input type="text" name="req-level" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            </div>

            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" name="item-icon" class="custom-file-input" id="newIconImage">
                <label class="custom-file-label" for="newIconImage">Icon Image</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text" id="">Upload</span>
              </div>
            </div>

            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Strength</span></div>
              <input type="text" name="strength" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Intelligence</span></div>
              <input type="text" name="intelligence" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Willpower</span></div>
              <input type="text" name="willpower" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Agility</span></div>
              <input type="text" name="agility" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Speed</span></div>
              <input type="text" name="speed" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Endurance</span></div>
              <input type="text" name="endurance" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Personality</span></div>
              <input type="text" name="personality" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Wisdom</span></div>
              <input type="text" name="wisdom" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3"><div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Luck</span></div>
              <input type="text" name="luck" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>

            <button type="submit" class="btn btn-post btn-lg btn-block" name="new_item" id="new_item" value="POST">Submit New Item</button>
          </form>


          </div>
          </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="edit_items"></div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="money_supply"></div>
        </div>

    </div>

</div>

{% endblock %}

{% block side %}

    <div class="titleBar">Site Statistics</div>

{% endblock %}
