<footer class="columnBase">
  <div class="titleBar" style="text-align: center;">
    <
    <a href="/?news">News</a> |
    <a href="/?rules">Rules</a> |
    <a href="/?faq">FAQ</a> |
    <a href="/?privacy">Privacy Policy</a> |
    <a href="/below/">Below</a>
    >
  </div>
</footer>
<div id="protip">© 2011-2021 | Version 0.45</div><br>
