<footer class="columnBase">
  <div class="titleBar" style="text-align: center;">
    <
    <a href="/personal/">Blog</a> |
    <a href="/?rules">Rules</a> |
    <a href="/?faq">FAQ</a> |
    <a href="/?privacy">Privacy Policy</a> |
    <a href="/below/">Below</a>
    >
  </div>
</footer>
<div id="protip">© 2011-2020 | Version 0.44</div><br>
