{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}

{% block main %}
<div class="article">

  <div class="card">
    <div class="card-body">
      <h5>This website is currently under heavy development, but is accepting new members.</h5>
      Zeniea operates like most social media platforms, with the added feature of giving you a custom character to develop. Over time I will add a variety of rpg-esque features to the site such as:
      <ul>
        <li>Posting reward system (experience, gold)</li>
        <li>Comprehensive Item Store (weapons, gear)</li>
        <li>Interactive webcomic style questing</li>
        <li>P.V.P. turn-based battles</li>
        <li>And much more! (I hope)</li>
      </ul>
      Right now you can go ahead and register for an account and create a character with the verification link provided to you in the e-mail.
      <br>For updates on progress check the <a href="?news">site news</a> section.
    </div>
  </div>
  <h2>Projects:</h2>

  <div class="card">
    <div class="card-body">
        <a href="?zelda">
        <img src="/img/icons/link_triforce.png" height="60px" align="left">
          <h4>Legend of Zelda: Oracle of Secrets</h4></a>
          Rom hack of Link to the Past for the Super Nintendo.

    </div>
   </div>
</div>
{% endblock %}

{% block profile %}

{% endblock %}
