{% extends "base.twig" %}
{% block title %}Inbox{% endblock %}

{% block profile %}
<div class="titleBar">Support</div>
  <div class="article">

  </div>
{% endblock %}

{% block main %}

{% endblock %}
